.building__img {
  max-width: 80%;
  max-height: 50%;
  min-width: 80%;
  border: 2px solid black;
}

.card__buttons button {
  /* background-color: #743880; */
  background-color: #772e25;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 2rem;
}

.card__buttons button:first-of-type {
  margin-left: 0;
}

.card__buttons button:hover,
.card__buttons button:active,
.card__buttons button:focus {
  /* color: black; */
  /* background-color: #f9dc5c; */
  background-color: #197278;
  transform: scale(1.2);
}

.building__text h4 {
  margin-bottom: 10px;
  margin-top: 0;
  font-family: 'Amatic SC';
  font-size: 54px;
}

.building__text p {
  margin: 0;
  font-family: 'Courgette', cursive;
  font-size: 30px;
}

.municipal_house h4 {
  margin-bottom: 1rem;
}

/* Rébusy */

.quizz {
  justify-content: center;
  align-items: flex-start;
}

.quizz__imgs {
  position: relative;
  max-width: 70vh;
  max-height: 70vh;
}

.quizz__img {
  position: relative;
  width: 100%;
  border: 2px solid black;
}

.magnifier__icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 2.5rem;
  /* margin-left: 5px; */
}

.quizz__text {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25%;
}

.quizz__text h4 {
  font-family: 'Courgette', cursive;
  margin-top: 0;
}

.magnifier__button {
  width: 2.5rem;
}

.printer__button {
  width: 2rem;
  margin-left: 2rem;
}

.printer__button:hover,
.printer__button:active,
.printer__button:focus,
.magnifier__button:hover,
.magnifier__button:active,
.magnifier__button:focus {
  transform: scale(1.2);
}

@media screen and (min-width: 1080px) {
  .quizz__text h4 {
    margin-top: 15px;
  }
}

.quizz__text button {
  height: 3rem;
  min-width: 5rem;
  max-width: 10rem;
  margin: 0.5rem auto;
}

.answer {
  align-items: center;
  margin-bottom: 1rem;
}

.answer__button {
  background-color: #edddd4;
  color: black;
  font-weight: 700;
  padding: 5px 10px;
  border: 0.5px solid black;
  border-radius: 5px;
}

.answer__button > img {
  height: 100%;
}

.answer__button:hover,
.answer__button:active,
.answer__button:focus {
  background-color: #743880;
  color: white;
  transform: scale(1.2);
}

/* Vyhodnocení rébusů */

.game__quizz__result {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game__quizz_result h4 {
  margin: 0;
}

.result__img {
  width: 50vh;
}

.result__img__bonus {
  width: 5vw;
}

.result__text p {
  margin: 0;
}
