.game__indication {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game__indication h4 {
  margin: 0;
  font-family: 'Amatic SC';
  font-size: 42px;
}

.building__img {
  width: 70%;
  max-height: 50%;
}

.indication__img {
  width: 25vh;
}

.indication__text p {
  margin: 5px;
  font-family: 'Courgette', cursive;
  font-size: 24px;
}

.magnifier__button {
  width: 2rem;
  margin-left: 5px;
}
