.map__heading {
  font-family: 'Pacifico';
  font-size: larger;
  color: #283d3b;
  text-shadow: 2px 2px silver;
}

.map {
  width: 100%;
  background-image: url(../../../assets/map/map.jpg);
  background-size: cover;
}

#map_of_clickable_objects {
  width: 100%;
}

.invisible {
  opacity: 0.01;
}

.disabled {
  pointer-events: none;
}
