.game__hints {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game__hints h4 {
  margin: 0;
}

.hint__mouse__img {
  width: 25vh;
}

.hint__img {
  width: 50%;
  margin-top: 1rem;
}
