.game__hints {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hint__mouse__img {
  min-width: 25vh;
  max-width: 35vh;
}

.hint__img {
  width: 30%;
  margin-top: 1rem;
}

.hint__title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: 'Courgette', cursive;
  font-size: 30px;
}

.hint h4 {
  margin: 0;
  font-family: 'Amatic SC';
  font-size: 54px;
}

.hint_text_hint {
  font-family: 'Courgette', cursive;
  font-size: 20px;
}
