@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

* {
  /* font-family: 'Roboto', 'Open Sans'; */
  font-family: 'Open Sans';
}

body {
  margin: 0;
  position: relative;
  height: 100vh;
}

div {
  /* cursor: pointer; */
  /* cursor: url(../public/Mouse\ Normal\ Select.cur), pointer, auto; */
}

h1 {
  margin: 0;
}

p {
  margin-top: 0;
}

section {
  margin: 0 auto;
  width: 80vw;
  max-width: 95vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 10.5rem);
}

.container {
  display: flex;
}
