.rules__nav > a {
  margin-right: 2rem;
}

.rules__rule {
  align-items: center;
  margin-bottom: 2rem;
}

.rules__rule:nth-of-type(2n + 2) {
  flex-direction: row-reverse;
}

.rules__column {
  flex-basis: 35vw;
  padding: 2rem;
  background-color: #edddd4;
  border-radius: 5px;
}

.rules__column:first-of-type {
  margin-right: 5rem;
}

.rules__img {
  min-width: 7rem;
  max-width: 7rem;
  margin-right: 2rem;
  border: 3px solid #283d3b;
  border-radius: 50%;
}

/* .question-mark {
  height: 3rem;
  padding: 2rem;
} */

.rules__rule:nth-of-type(2n + 2) > .rules__img {
  margin-right: 0;
  margin-left: 2rem;
}

.rules__text {
  text-align: justify;
}

.rules__column > .rules__rule:last-of-type {
  margin-bottom: 0;
}

.rules__intro,
.rules__epilogue {
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 2rem;
}

.rules__intro {
  background-color: #c44536;
  margin-bottom: 2rem;
}

.rules__epilogue {
  background-color: #197278;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.epilogue__text {
  margin-right: 3rem;
}

.rules__epilogue > button {
  background-color: #c44536;
  color: white;
  flex-basis: 20%;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

.rules__epilogue > button:hover,
.rules__epilogue > button:active,
.rules__epilogue > button:focus {
  transform: scale(1.2);
  background-color: #772e25;
}
